{{!< layout}}

<h2>Company details</h2>

<br>

<div>Logo: <img src="{{values.logo}}" alt="{{values.logo}}"></div>
<div>Company name: {{values.companyName}}</div>
<div>Description: {{values.description}}</div>
<div><a href="{{values.website}}">Website</a></div>